
/* global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style for all first headers */
h1 {
  color: white;
  letter-spacing: 10px;
  text-transform: uppercase; /*change case to uper*/
}

/* hovering effect for btns */
button:hover, #clear-completed:hover {
  color: hsl(220, 98%, 61%);
}

/* style for body */
body {
  background-color: black;
  
}

/* styling header */
header {
  background: url('images/bg-desktop-dark.jpg') no-repeat center/cover;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  
}

/* style for toggle button, switches fromlight-dark mode */
#switch {
  background: none;
  border: none;
  cursor: pointer;
}

#switch img {
  width: 30px;
  height: 30px;
}

/* styling for to do form */
form {
  display: flex;
  align-items: center;
  background-color: #25273c;
  padding: 16px;
  border-radius: 5px;
  margin: -50px auto 16px auto; 
  max-width: 500px;
}

form input {
  background: transparent;
  border: none;
  flex: 1;
  font-size: 16px;
  outline: none;
}

form button {
  background: #1e90ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* to do list style */
.todo-list {
  background-color: #25273c;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 500px;
}

.todo-list ul {
  list-style: none;
}

.todo-list li {
  padding: 16px;
  border-bottom: 1px solid #25273c;
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-list li.completed {
  text-decoration: line-through;
  color:#25273c;
}

/* filters and clear button styling */
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 0.9rem;
  color: #708090;
}

.filters {
  display: flex;
  gap: 8px;
}

.filters button {
  background: none;
  border: none;
  color: #708090;
  cursor: pointer;
}



#clear-completed {
  background: none;
  border: none;
  color: #708090;
  cursor: pointer;
}

.hint {
  text-align: center;
  color: hsl(233, 14%, 35%);
  margin: 1.5rem 0;
}

/* attribution styling */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
